<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="/">Techkids Diary</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin Page
                </a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Nhật ký theo khóa học
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">C4E</a>
                    <a class="dropdown-item" href="#">CI</a>
                </div>
            </li> -->
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item mr-2">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="mr-2 nav-item">
                <a class="nav-link" href="/signup">Signup</a>
            </li>
        </ul>
    </div>
</nav>